<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
      <link rel="manifest" href="/javascripts/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="google-site-verification" content="idX1Lk9Sq9wzkAMxjjO9OfYSb55DlmDowr63k7iDXbk" />
      <meta name="msvalidate.01" content="1F30C9782748B0116613399A727D7201" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Welcome to official website of Sandeep Mandal. An Professional Photographer and web developer, mysql database handler, core javascript developer.">
      <meta name="keyboard" content="mandal, sandeep, chaosclick, sandeepmandal, sandeep mandal, mandalsandeep, chaos click,">
      <meta name="author" content="nirajgeorgian">
      <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <title>Mandal - Sandeep Mandal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71008137-4', 'auto');
  ga('send', 'pageview');

</script>
      {{{body}}}    
  <script src="/javascripts/modernizr.js"></script>
  <script src="javascripts/snap.svg-min.js"></script>
    <script src="/javascripts/jquery-min.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/handlebars.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
